h3 {
    margin: 5%;
}

.App {
    transition: all 1s ease;
    perspective-origin: 150% 150%;
}

.App:active {
    transform: scale(0.8) rotateX(-45deg) rotateZ(-20deg);
}

.top-table {
    display: grid;
    margin: 2%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 10px;
}

.bottom-table {
    display: grid;
    margin: 2% 12.7%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 10px;
}

.top-table .element:nth-child(2){
    grid-column: 18/19;
}

.top-table .element:nth-child(5), 
.top-table .element:nth-child(13) {
    grid-column: 13/14;
}

.element {
    box-sizing: content-box;
    outline: 1px solid black;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.element:hover{
    transform:scale(1.5);
}

.element p {
    font-size: 0.6rem;
    margin: 8%;
}

.top-element {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

.down{
    justify-content: center;
}

.sub-row {
    display: flex;
    justify-content: space-between;
}

.no-metal {
    color: black;
    background-color: orange;
}

.halo{
    background-color:chartreuse;
    color:black;
}
.gas-noble {
    background-color: green;
    color: white;
}

.metal-alc {
    color: white;
    background-color: darkblue;
}

.alc-ter {
    background-color: yellow;
}

.metaloide{
    background-color: red;
    color: aliceblue;
}

.metal-trans{
    background-color:aqua;
    color:black;
}

.otros{
    background-color: rebeccapurple;
    color:white;
}

.lantanido{
    background-color: palegreen;
    color:black;
}

.actinido{
    background-color: darkseagreen;
    color:black;
}