.App {
  transition: all 1s ease;
  perspective-origin: 150% 150%;
  text-align: center;
  position: relative;
}

/* .App:active {
  transform: scale(0.8) rotateX(-45deg) rotateZ(-20deg);
} */

/* .table-info {
  display: inline-block;
  position:absolute;
  top: 3em;
  left: 12em;
  background-color:aliceblue;
  width: 300px;
  height: 300px;
  border: 2px solid black;
} */